/* Stiluri generale */

:root {
  --header-background: #191e30;
  --white: #fff;
  --hover-orange: #ecb13a;
  --transparent-background: rgba(252, 250, 247, 0.1);
  --section-background: rgba(202, 205, 193, 0.1);
  --border-color: rgba(0, 0, 0, 0.175);
  --green: #008768;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Asap, sans-serif;
}

.content-max-width {
  max-width: min(1240px, 100vw);
  margin: 0 auto;
}

.context-max-width-900 {
  max-width: min(940px, 100vw);
  margin: 0 auto;
}

.bold-info {
  font-weight: 700;
  font-family: "Poppins";
}

.fs-lg {
  font-size: 46px;
}

.fs-xlg {
  font-size: 52px;
}

.fs-md {
  font-size: 32px;
}

.fs-sm {
  font-size: 24px;
}

/* Suprascriere stiluri bootstrap */

.btn.btn-success {
  background-color: var(--green);

  padding: 11px 48px;
}

/* Stiluri header */

header {
  background-color: var(--header-background);
}

header .itschool-logo {
  width: 100px;
}

header .navigation .navigation-menu li {
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header .navigation .navigation-menu li.active {
  background-color: var(--transparent-background);
  border-radius: 20px;
}

header .navigation .navigation-menu li:not(.active):hover {
  color: var(--hover-orange);
}

main .general-info {
  background-image: url("./assets/images/background-section1.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Stiluri prima secțiune */

main .general-info .content {
  padding: 100px 20px 0px 20px;
  min-height: 500px;
}

main .general-info .content .information {
  max-width: 40%;
}

main .general-info .content .information .btn-group .btn {
  font-size: 18px;
}

main .general-info .content .weather-girl {
  margin-left: auto;
}

main .general-info .content .weather-girl img {
  margin-left: auto;
  max-width: 450px;
}

main .general-info .content .information p {
  margin-bottom: 24px;
  margin-left: auto;
}

main .weather-section {
  background-color: var(--section-background);
  font-family: "Poppins" sans-serif;
}

main .weather-section .content {
  padding: 100px 20px;
}

main .forecast-section {
  background-image: url("https://www.itschool.ro/_next/static/media/background.570f46a1.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

main .forecast-section .content {
  padding: 100px 20px;
}

main .forecast-section .content .card {
  min-width: 320px;
  padding-bottom: 40px;
  position: relative;
}

main .forecast-section .content .card .card-hour {
  background-color: var(--white);
  bottom: -35px;
  right: -35px;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  font-family: "Poppins";
  font-weight: 600;
  border: 1px solid var(--border-color);
  box-shadow: rgba(25, 30, 48, 0.05) 0px 10px 10px 0px;
}

main .forecast-section .content .card .forecast-values div:last-child {
  font-weight: 600;
}

/* Footer */

footer .content {
  padding: 48px 20px;
  display: flex;
  gap: 24px;
}

footer .content .footer-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

footer .content .footer-column .logo {
  width: 108px;
}

footer .content .footer-column .small-title {
  font-size: 12px;
  color: var(--text-thin);
  margin-bottom: 6px;
}

footer .content .footer-column .social .icons {
  display: flex;
  gap: 24px;
}

footer .content .footer-column .social .social-icon {
  width: 24px;
  cursor: pointer;
}

footer .content .footer-column .links {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

footer .content .footer-column .links a {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  color: var(--header-background);
  text-decoration: none;
  cursor: pointer;
}

footer .content .footer-column .links a:hover {
  color: var(--green);
}

@media screen and (max-width: 576px) {
  .fs-lg {
    font-size: 32px;
  }

  main .general-info .content {
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  main .general-info .content .information {
    max-width: 100%;
  }

  main .general-info .content .information h1 {
    margin-top: 24px !important;
  }

  main .general-info .content .information .btn-group {
    width: 100%;
  }

  main .general-info .content .weather-girl img {
    width: 100%;
  }

  main .weather-section .content {
    padding: 50px 20px;
  }

  main .weather-section .content .current-weather-info {
    flex-direction: column;
  }

  main .weather-section .content .left-side-info {
    text-align: center;
  }

  main .weather-section .content .right-side-info {
    margin-left: 0 !important;
  }

  main .weather-section .content .right-side-info div:first-child {
    text-align: center;
    margin-bottom: 20px;
  }

  main .weather-section .content .left-side-info div:nth-child(2) {
    justify-content: center;
  }

  main .forecast-section .content {
    padding: 0px 20px 100px 20px;
  }

  main .forecast-section .content .card {
    width: 100%;
  }

  main .forecast-section .content .card .card-hour {
    left: calc(50% - 37.5px);
  }

  footer .content {
    flex-direction: column;
  }
}
